# alberta electric operator systems (AESO) 2020 data analystics  
http://ets.aeso.ca/ Download load monthly data

In [2]:
import pandas as pd
import numpy as np
import glob
files = glob.glob('./data/*.csv')
files

['./data\\202001.csv',
 './data\\202002.csv',
 './data\\202003.csv',
 './data\\202004.csv',
 './data\\202005.csv',
 './data\\202006.csv',
 './data\\202007.csv',
 './data\\202008.csv',
 './data\\202009.csv',
 './data\\202010.csv',
 './data\\202011.csv',
 './data\\202012.csv']

In [3]:
col_names = ['PoolID','AssetType','AssetID',
             'Hour1','Hour2','Hour3','Hour4','Hour5','Hour6','Hour7','Hour8','Hour9','Hour10',
            'Hour11','Hour12','Hour13','Hour14','Hour15','Hour16','Hour17','Hour18','Hour19','Hour20',
             'Hour21','Hour22','Hour23','Hour24','daylight']

## Read all 12 months data file, add unique identifiers - month column to each file

In [4]:
# https://stackoverflow.com/questions/36617464/pandas-add-a-new-column-identifier-when-reading-multiple-files
list_ = []
for i, file in enumerate(files,1):
    data = pd.read_csv(file,names = col_names, low_memory=False)
    data['month'] = i 
    list_.append(data)
df_all = pd.concat(list_, ignore_index=True)

In [5]:
list_

[                             PoolID AssetType AssetID   Hour1   Hour2   Hour3  \
 0             Metered Volumes (All)       NaN     NaN     NaN     NaN     NaN
 1                               NaN       NaN     NaN     NaN     NaN     NaN
 2                               NaN       NaN     NaN     NaN     NaN     NaN
 3      Report Date: March 23, 2021.       NaN     NaN     NaN     NaN     NaN
 4                               NaN       NaN     NaN     NaN     NaN     NaN
 ...                             ...       ...     ...     ...     ...     ...
 45710                          XOEC  RETAILER    XO1P  0.0199  0.0195  0.0193
 45711                          XOEC  RETAILER    XO1R  0.3635  0.3502  0.3387
 45712                          XOEC  RETAILER    XO1U  3.8388  3.7324  3.6863
 45713                          XOEC  RETAILER    XO1X  3.0255  2.8596  2.7464
 45714                          XOEC  RETAILER    XO2E       0       0       0

         Hour4   Hour5   Hour6   Hour7  ...  Hour17  Hour18  Hour19  Hour20  \
 0         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 1         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 2         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 3         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 4         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 ...       ...     ...     ...     ...  ...     ...     ...     ...     ...
 45710  0.0194  0.0192  0.0199  0.0228  ...  0.0314  0.0318  0.0302   0.029
 45711  0.3369  0.3432  0.3626  0.4135  ...   0.556  0.5762  0.5605  0.5374
 45712  3.6664  3.7036  3.8914    4.25  ...  4.9001  5.1423  5.1815  5.0162
 45713  2.7381  2.8079  3.0063  3.4116  ...  4.1599  4.5814  4.7652  4.6498
 45714       0       0       0       0  ...       0       0       0       0

        Hour21  Hour22  Hour23  Hour24 daylight month
 0         NaN     NaN     NaN     NaN      NaN     1
 1         NaN     NaN     NaN     NaN      NaN     1
 2         NaN     NaN     NaN     NaN      NaN     1
 3         NaN     NaN     NaN     NaN      NaN     1
 4         NaN     NaN     NaN     NaN      NaN     1
 ...       ...     ...     ...     ...      ...   ...
 45710  0.0281  0.0261  0.0237   0.022      NaN     1
 45711   0.514  0.4838  0.4447   0.402      NaN     1
 45712   4.848  4.6268  4.3333  4.0366      NaN     1
 45713  4.4309  4.2104  3.8661  3.4582      NaN     1
 45714       0       0       0       0      NaN     1

 [45715 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                February 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 41217                          XOEC     RETAILER       XO1P  0.0211  0.0211
 41218                          XOEC     RETAILER       XO1R  0.3697  0.3549
 41219                          XOEC     RETAILER       XO1U  3.6494  3.5481
 41220                          XOEC     RETAILER       XO1X  2.9570  2.7777
 41221                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 41217  0.0203  0.0202  0.0207  0.0217  0.0250  ...   0.0316   0.0312   0.0317
 41218  0.3495  0.3471  0.3520  0.3775  0.4352  ...   0.5358   0.5349   0.5585
 41219  3.5052  3.5059  3.5586  3.7518  4.1522  ...   4.5315   4.6507   4.8505
 41220  2.6740  2.6771  2.7356  2.9362  3.4087  ...   4.0097   4.2773   4.5418
 41221  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     2
 1          NaN      NaN      NaN      NaN      NaN      NaN     2
 2          NaN      NaN      NaN      NaN      NaN      NaN     2
 3          NaN      NaN      NaN      NaN      NaN      NaN     2
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     2
 ...        ...      ...      ...      ...      ...      ...   ...
 41217   0.0315   0.0296   0.0275   0.0258   0.0230      NaN     2
 41218   0.5527   0.5296   0.4988   0.4562   0.4164      NaN     2
 41219   4.8311   4.6815   4.5181   4.2805   4.0021      NaN     2
 41220   4.5020   4.3897   4.1808   3.8096   3.3844      NaN     2
 41221   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     2

 [41222 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                   March 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 45651                          XOEC     RETAILER       XO1P  0.0292  0.0281
 45652                          XOEC     RETAILER       XO1R  0.4425  0.4252
 45653                          XOEC     RETAILER       XO1U  4.4057  4.2973
 45654                          XOEC     RETAILER       XO1X  3.3964  3.1975
 45655                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 45651  0.0278  0.0278  0.0279  0.0288  0.0330  ...   0.0436   0.0432   0.0409
 45652  0.4177  0.4150  0.4191  0.4398  0.4926  ...   0.6420   0.6450   0.6175
 45653  4.2603  4.2620  4.3054  4.4599  4.8309  ...   5.6927   5.8358   5.6791
 45654  3.0830  3.0725  3.1153  3.2337  3.6427  ...   5.0050   5.3206   5.2456
 45655  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     3
 1          NaN      NaN      NaN      NaN      NaN      NaN     3
 2          NaN      NaN      NaN      NaN      NaN      NaN     3
 3          NaN      NaN      NaN      NaN      NaN      NaN     3
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     3
 ...        ...      ...      ...      ...      ...      ...   ...
 45651   0.0387   0.0380   0.0373   0.0344   0.0314      NaN     3
 45652   0.5891   0.6086   0.5854   0.5358   0.4887      NaN     3
 45653   5.5172   5.6619   5.5211   5.1556   4.8195      NaN     3
 45654   5.0961   5.0554   4.7904   4.3751   3.8604      NaN     3
 45655   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     3

 [45656 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                   April 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 44254                          XOEC     RETAILER       XO1P  0.0237  0.0223
 44255                          XOEC     RETAILER       XO1R  0.3649  0.3422
 44256                          XOEC     RETAILER       XO1U  3.3899  3.2555
 44257                          XOEC     RETAILER       XO1X  2.8258  2.5860
 44258                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 44254  0.0218  0.0216  0.0216  0.0227  0.0259  ...   0.0383   0.0379   0.0357
 44255  0.3318  0.3277  0.3310  0.3540  0.3655  ...   0.5806   0.5785   0.5403
 44256  3.1887  3.1664  3.2063  3.3302  3.5437  ...   4.7313   4.8165   4.6099
 44257  2.4984  2.4964  2.5003  2.5673  2.8209  ...   4.3742   4.6442   4.5288
 44258  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     4
 1          NaN      NaN      NaN      NaN      NaN      NaN     4
 2          NaN      NaN      NaN      NaN      NaN      NaN     4
 3          NaN      NaN      NaN      NaN      NaN      NaN     4
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     4
 ...        ...      ...      ...      ...      ...      ...   ...
 44254   0.0340   0.0327   0.0312   0.0286   0.0259      NaN     4
 44255   0.5164   0.4878   0.4940   0.4561   0.4082      NaN     4
 44256   4.4049   4.3163   4.3015   4.0535   3.6987      NaN     4
 44257   4.3518   4.3681   4.1890   3.7169   3.2102      NaN     4
 44258   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     4

 [44259 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                     May 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 45597                          XOEC     RETAILER       XO1P  0.0234  0.0220
 45598                          XOEC     RETAILER       XO1R  0.4088  0.3782
 45599                          XOEC     RETAILER       XO1U  4.0463  3.8062
 45600                          XOEC     RETAILER       XO1X  3.3442  2.9734
 45601                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 45597  0.0210  0.0204  0.0202  0.0213  0.0217  ...   0.0334   0.0346   0.0335
 45598  0.3570  0.3473  0.3518  0.3514  0.3411  ...   0.5743   0.6136   0.5808
 45599  3.6646  3.6028  3.5537  3.5293  3.5436  ...   5.4170   5.5544   5.3696
 45600  2.7283  2.6104  2.5197  2.5585  2.5608  ...   5.0330   5.2198   5.0123
 45601  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     5
 1          NaN      NaN      NaN      NaN      NaN      NaN     5
 2          NaN      NaN      NaN      NaN      NaN      NaN     5
 3          NaN      NaN      NaN      NaN      NaN      NaN     5
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     5
 ...        ...      ...      ...      ...      ...      ...   ...
 45597   0.0320   0.0306   0.0297   0.0260   0.0238      NaN     5
 45598   0.5528   0.5296   0.4987   0.4582   0.4093      NaN     5
 45599   5.1526   4.9434   4.7485   4.4932   4.0894      NaN     5
 45600   4.7195   4.4590   4.2510   3.8425   3.3732      NaN     5
 45601   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     5

 [45602 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                    June 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 44406                          XOEC     RETAILER       XO1P  0.0228  0.0214
 44407                          XOEC     RETAILER       XO1R  0.3663  0.3407
 44408                          XOEC     RETAILER       XO1U  3.8100  3.5850
 44409                          XOEC     RETAILER       XO1X  3.0206  2.7554
 44410                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 44406  0.0210  0.0205  0.0206  0.0223  0.0244  ...   0.0364   0.0357   0.0338
 44407  0.3272  0.3212  0.3319  0.3427  0.3660  ...   0.5770   0.5771   0.5438
 44408  3.4701  3.4321  3.4746  3.6023  3.8950  ...   5.4285   5.4781   5.2489
 44409  2.5833  2.4982  2.4959  2.7041  2.9112  ...   4.6090   4.8625   4.7560
 44410  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     6
 1          NaN      NaN      NaN      NaN      NaN      NaN     6
 2          NaN      NaN      NaN      NaN      NaN      NaN     6
 3          NaN      NaN      NaN      NaN      NaN      NaN     6
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     6
 ...        ...      ...      ...      ...      ...      ...   ...
 44406   0.0318   0.0309   0.0296   0.0275   0.0245      NaN     6
 44407   0.5154   0.4897   0.4719   0.4496   0.4038      NaN     6
 44408   5.0264   4.8871   4.7286   4.5148   4.1546      NaN     6
 44409   4.5412   4.3507   4.2397   3.9581   3.4131      NaN     6
 44410   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     6

 [44411 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                    July 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 46003                          XOEC     RETAILER       XO1P  0.0262  0.0246
 46004                          XOEC     RETAILER       XO1R  0.4565  0.4242
 46005                          XOEC     RETAILER       XO1U  5.0720  4.7492
 46006                          XOEC     RETAILER       XO1X  3.8540  3.4843
 46007                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 46003  0.0236  0.0232  0.0227  0.0237  0.0252  ...   0.0412   0.0402   0.0382
 46004  0.4020  0.3914  0.3932  0.4110  0.4296  ...   0.7088   0.6943   0.6734
 46005  4.5324  4.4205  4.4156  4.5216  4.7475  ...   7.2199   7.2494   7.0447
 46006  3.2248  3.0954  3.0170  3.1012  3.2910  ...   5.6562   5.8488   5.8455
 46007  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     7
 1          NaN      NaN      NaN      NaN      NaN      NaN     7
 2          NaN      NaN      NaN      NaN      NaN      NaN     7
 3          NaN      NaN      NaN      NaN      NaN      NaN     7
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     7
 ...        ...      ...      ...      ...      ...      ...   ...
 46003   0.0371   0.0355   0.0332   0.0312   0.0282      NaN     7
 46004   0.6397   0.6043   0.5921   0.5588   0.4994      NaN     7
 46005   6.8022   6.5043   6.2485   5.9725   5.4614      NaN     7
 46006   5.6489   5.3337   5.1712   4.9002   4.4000      NaN     7
 46007   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     7

 [46008 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                  August 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 46338                          XOEC     RETAILER       XO1P  0.0220  0.0209
 46339                          XOEC     RETAILER       XO1R  0.3402  0.3198
 46340                          XOEC     RETAILER       XO1U  3.6822  3.5406
 46341                          XOEC     RETAILER       XO1X  2.8222  2.5892
 46342                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN

In [6]:
df_all['month'].value_counts()

12    47741
10    47320
8     46343
7     46008
11    45992
1     45715
3     45656
5     45602
9     45554
6     44411
4     44259
2     41222
Name: month, dtype: int64

In [7]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545823 entries, 0 to 545822
Data columns (total 29 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PoolID     545696 non-null  object
 1   AssetType  545307 non-null  object
 2   AssetID    545307 non-null  object
 3   Hour1      544943 non-null  object
 4   Hour2      544943 non-null  object
 5   Hour3      544943 non-null  object
 6   Hour4      544943 non-null  object
 7   Hour5      544943 non-null  object
 8   Hour6      544943 non-null  object
 9   Hour7      544943 non-null  object
 10  Hour8      544943 non-null  object
 11  Hour9      544943 non-null  object
 12  Hour10     544943 non-null  object
 13  Hour11     544943 non-null  object
 14  Hour12     544943 non-null  object
 15  Hour13     544943 non-null  object
 16  Hour14     544943 non-null  object
 17  Hour15     544943 non-null  object
 18  Hour16     544943 non-null  object
 19  Hour17     544943 non-null  object
 20  Hour18     544943 non-null  object
 21  Hour19     544943 non-null  object
 22  Hour20     544943 non-null  object
 23  Hour21     544943 non-null  object
 24  Hour22     544943 non-null  object
 25  Hour23     544943 non-null  object
 26  Hour24     543474 non-null  object
 27  daylight   1530 non-null    object
 28  month      545823 non-null  int64
dtypes: int64(1), object(28)
memory usage: 120.8+ MB

In [8]:
Target =['BR3','BR4','BR5','MKR1','PH1','RB5','RL1','SH1','SH2','VVW1','VVW2','EC04','CL01']

In [9]:
df = df_all[df_all['AssetID'].isin(Target)]
df.head()

,PoolID,AssetType,AssetID,Hour1,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,...,Hour17,Hour18,Hour19,Hour20,Hour21,Hour22,Hour23,Hour24,daylight,month
106,ALPL,GENCO,BR4,43.5444,43.5478,43.5888,43.5215,43.602,43.5388,43.6077,...,43.5274,43.5205,43.6336,43.5565,43.5123,43.5695,43.4497,43.5655,NaN,1
107,ALPL,GENCO,BR5,143.1607,142.8902,142.7054,142.8044,141.9054,142.1584,142.0645,...,141.2787,140.414,140.7074,140.775,140.3875,139.9745,139.9403,140.6637,NaN,1
163,ATRB,IPP,RB5,56.8638,57.5988,57.6198,57.8718,57.8928,58.065,57.8466,...,58.1826,58.0692,57.9852,57.4266,57.3258,57.3006,57.3342,57.729,NaN,1
164,ATRB,IPP,RL1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,1
191,BALP,GENCO,SH1,152.2087,151.4843,152.4443,151.0043,155.0887,154.6043,150.7643,...,160.6087,221.853,175.7376,183.6664,157.9687,157.9687,157.7243,157.7287,NaN,1

In [10]:
col = ['Hour1','Hour2','Hour3','Hour4','Hour5','Hour6','Hour7','Hour8','Hour9','Hour10',
        'Hour11','Hour12','Hour13','Hour14','Hour15','Hour16','Hour17','Hour18','Hour19','Hour20',
        'Hour21','Hour22','Hour23','Hour24','daylight']

In [11]:
df[col] = df[col].apply(pd.to_numeric, errors = "coerce",axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4380 entries, 106 to 545254
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PoolID     4380 non-null   object
 1   AssetType  4380 non-null   object
 2   AssetID    4380 non-null   object
 3   Hour1      4380 non-null   float64
 4   Hour2      4380 non-null   float64
 5   Hour3      4380 non-null   float64
 6   Hour4      4380 non-null   float64
 7   Hour5      4380 non-null   float64
 8   Hour6      4380 non-null   float64
 9   Hour7      4380 non-null   float64
 10  Hour8      4380 non-null   float64
 11  Hour9      4380 non-null   float64
 12  Hour10     4380 non-null   float64
 13  Hour11     4380 non-null   float64
 14  Hour12     4380 non-null   float64
 15  Hour13     4380 non-null   float64
 16  Hour14     4380 non-null   float64
 17  Hour15     4380 non-null   float64
 18  Hour16     4380 non-null   float64
 19  Hour17     4380 non-null   float64
 20  Hour18     4380 non-null   float64
 21  Hour19     4380 non-null   float64
 22  Hour20     4380 non-null   float64
 23  Hour21     4380 non-null   float64
 24  Hour22     4380 non-null   float64
 25  Hour23     4380 non-null   float64
 26  Hour24     4368 non-null   float64
 27  daylight   12 non-null     float64
 28  month      4380 non-null   int64
dtypes: float64(25), int64(1), object(3)
memory usage: 1.0+ MB

C:\Users\minxi\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [14]:
AESO = df.copy()
AESO['daylight'].fillna(0, inplace=True)
AESO['Total'] = AESO[col].apply(sum,axis = 1)
AESO.head()

,PoolID,AssetType,AssetID,Hour1,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,...,Hour18,Hour19,Hour20,Hour21,Hour22,Hour23,Hour24,daylight,month,Total
106,ALPL,GENCO,BR4,43.5444,43.5478,43.5888,43.5215,43.6020,43.5388,43.6077,...,43.5205,43.6336,43.5565,43.5123,43.5695,43.4497,43.5655,0.0,1,1045.6253
107,ALPL,GENCO,BR5,143.1607,142.8902,142.7054,142.8044,141.9054,142.1584,142.0645,...,140.4140,140.7074,140.7750,140.3875,139.9745,139.9403,140.6637,0.0,1,3391.4937
163,ATRB,IPP,RB5,56.8638,57.5988,57.6198,57.8718,57.8928,58.0650,57.8466,...,58.0692,57.9852,57.4266,57.3258,57.3006,57.3342,57.7290,0.0,1,1389.1920
164,ATRB,IPP,RL1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,1,0.0000
191,BALP,GENCO,SH1,152.2087,151.4843,152.4443,151.0043,155.0887,154.6043,150.7643,...,221.8530,175.7376,183.6664,157.9687,157.9687,157.7243,157.7287,0.0,1,3848.1601

In [17]:
summary = AESO.groupby(['AssetID','month'])[['Total']].sum()
summary

                    Total
AssetID month
BR4     1      33946.9445
        2      22094.2019
        3      20279.7541
        4      17817.5102
        5          0.0000
...                   ...
VVW2    8       4034.0440
        9       4096.8480
        10     14466.5080
        11      6613.6840
        12      5586.8120

[144 rows x 1 columns]

In [18]:
summary.to_csv('Summary_2020.csv')