# alberta electric operator systems (AESO) 2020 data analystics  
http://ets.aeso.ca/ Download load monthly data

In [1]:
import pandas as pd
import numpy as np
import glob
files = glob.glob('./data/*.csv')
files

['./data\\202001.csv',
 './data\\202002.csv',
 './data\\202003.csv',
 './data\\202004.csv',
 './data\\202005.csv',
 './data\\202006.csv',
 './data\\202007.csv',
 './data\\202008.csv',
 './data\\202009.csv',
 './data\\202010.csv',
 './data\\202011.csv',
 './data\\202012.csv']

In [2]:
col_names = ['PoolID','AssetType','AssetID',
             'Hour1','Hour2','Hour3','Hour4','Hour5','Hour6','Hour7','Hour8','Hour9','Hour10',
            'Hour11','Hour12','Hour13','Hour14','Hour15','Hour16','Hour17','Hour18','Hour19','Hour20',
             'Hour21','Hour22','Hour23','Hour24','daylight']

## Read all 12 months data file, add unique identifiers - month column to each file

In [3]:
# https://stackoverflow.com/questions/36617464/pandas-add-a-new-column-identifier-when-reading-multiple-files
list_ = []
for i, file in enumerate(files,1):
    data = pd.read_csv(file,names = col_names, low_memory=False)
    data['month'] = i 
    list_.append(data)
df_all = pd.concat(list_, ignore_index=True)

In [4]:
list_

[                             PoolID AssetType AssetID   Hour1   Hour2   Hour3  \
 0             Metered Volumes (All)       NaN     NaN     NaN     NaN     NaN
 1                               NaN       NaN     NaN     NaN     NaN     NaN
 2                               NaN       NaN     NaN     NaN     NaN     NaN
 3      Report Date: March 23, 2021.       NaN     NaN     NaN     NaN     NaN
 4                               NaN       NaN     NaN     NaN     NaN     NaN
 ...                             ...       ...     ...     ...     ...     ...
 45710                          XOEC  RETAILER    XO1P  0.0199  0.0195  0.0193
 45711                          XOEC  RETAILER    XO1R  0.3635  0.3502  0.3387
 45712                          XOEC  RETAILER    XO1U  3.8388  3.7324  3.6863
 45713                          XOEC  RETAILER    XO1X  3.0255  2.8596  2.7464
 45714                          XOEC  RETAILER    XO2E       0       0       0

         Hour4   Hour5   Hour6   Hour7  ...  Hour17  Hour18  Hour19  Hour20  \
 0         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 1         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 2         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 3         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 4         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
 ...       ...     ...     ...     ...  ...     ...     ...     ...     ...
 45710  0.0194  0.0192  0.0199  0.0228  ...  0.0314  0.0318  0.0302   0.029
 45711  0.3369  0.3432  0.3626  0.4135  ...   0.556  0.5762  0.5605  0.5374
 45712  3.6664  3.7036  3.8914    4.25  ...  4.9001  5.1423  5.1815  5.0162
 45713  2.7381  2.8079  3.0063  3.4116  ...  4.1599  4.5814  4.7652  4.6498
 45714       0       0       0       0  ...       0       0       0       0

        Hour21  Hour22  Hour23  Hour24 daylight month
 0         NaN     NaN     NaN     NaN      NaN     1
 1         NaN     NaN     NaN     NaN      NaN     1
 2         NaN     NaN     NaN     NaN      NaN     1
 3         NaN     NaN     NaN     NaN      NaN     1
 4         NaN     NaN     NaN     NaN      NaN     1
 ...       ...     ...     ...     ...      ...   ...
 45710  0.0281  0.0261  0.0237   0.022      NaN     1
 45711   0.514  0.4838  0.4447   0.402      NaN     1
 45712   4.848  4.6268  4.3333  4.0366      NaN     1
 45713  4.4309  4.2104  3.8661  3.4582      NaN     1
 45714       0       0       0       0      NaN     1

 [45715 rows x 29 columns],
                            PoolID    AssetType    AssetID   Hour1   Hour2  \
 0           Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: May 01, 2021.          NaN        NaN     NaN     NaN
 2              February 01, 2020.          NaN        NaN     NaN     NaN
 3             Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                               -            -          -  Hour 1  Hour 2
 ...                           ...          ...        ...     ...     ...
 42686                        XOEC     RETAILER       XO1P  0.0216  0.0214
 42687                        XOEC     RETAILER       XO1R  0.3865  0.3685
 42688                        XOEC     RETAILER       XO1U  3.8194  3.7077
 42689                        XOEC     RETAILER       XO1X  3.0559  2.8718
 42690                        XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 42686  0.0207  0.0201  0.0205  0.0208  0.0224  ...   0.0313   0.0323   0.0322
 42687  0.3556  0.3515  0.3534  0.3625  0.3879  ...   0.5430   0.5665   0.5845
 42688  3.6477  3.6176  3.6404  3.7428  3.9537  ...   4.9601   5.1052   5.2159
 42689  2.7578  2.7259  2.6807  2.8100  3.0221  ...   4.5102   4.8579   5.0519
 42690  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     2
 1          NaN      NaN      NaN      NaN      NaN      NaN     2
 2          NaN      NaN      NaN      NaN      NaN      NaN     2
 3          NaN      NaN      NaN      NaN      NaN      NaN     2
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     2
 ...        ...      ...      ...      ...      ...      ...   ...
 42686   0.0309   0.0304   0.0285   0.0262   0.0247      NaN     2
 42687   0.5731   0.5439   0.5145   0.4728   0.4363      NaN     2
 42688   5.1654   5.0231   4.8368   4.5649   4.2899      NaN     2
 42689   4.8957   4.5754   4.3801   4.0196   3.6256      NaN     2
 42690   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     2

 [42691 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                   March 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 45651                          XOEC     RETAILER       XO1P  0.0292  0.0281
 45652                          XOEC     RETAILER       XO1R  0.4425  0.4252
 45653                          XOEC     RETAILER       XO1U  4.4057  4.2973
 45654                          XOEC     RETAILER       XO1X  3.3964  3.1975
 45655                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 45651  0.0278  0.0278  0.0279  0.0288  0.0330  ...   0.0436   0.0432   0.0409
 45652  0.4177  0.4150  0.4191  0.4398  0.4926  ...   0.6420   0.6450   0.6175
 45653  4.2603  4.2620  4.3054  4.4599  4.8309  ...   5.6927   5.8358   5.6791
 45654  3.0830  3.0725  3.1153  3.2337  3.6427  ...   5.0050   5.3206   5.2456
 45655  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     3
 1          NaN      NaN      NaN      NaN      NaN      NaN     3
 2          NaN      NaN      NaN      NaN      NaN      NaN     3
 3          NaN      NaN      NaN      NaN      NaN      NaN     3
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     3
 ...        ...      ...      ...      ...      ...      ...   ...
 45651   0.0387   0.0380   0.0373   0.0344   0.0314      NaN     3
 45652   0.5891   0.6086   0.5854   0.5358   0.4887      NaN     3
 45653   5.5172   5.6619   5.5211   5.1556   4.8195      NaN     3
 45654   5.0961   5.0554   4.7904   4.3751   3.8604      NaN     3
 45655   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     3

 [45656 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                   April 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 44254                          XOEC     RETAILER       XO1P  0.0237  0.0223
 44255                          XOEC     RETAILER       XO1R  0.3649  0.3422
 44256                          XOEC     RETAILER       XO1U  3.3899  3.2555
 44257                          XOEC     RETAILER       XO1X  2.8258  2.5860
 44258                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 44254  0.0218  0.0216  0.0216  0.0227  0.0259  ...   0.0383   0.0379   0.0357
 44255  0.3318  0.3277  0.3310  0.3540  0.3655  ...   0.5806   0.5785   0.5403
 44256  3.1887  3.1664  3.2063  3.3302  3.5437  ...   4.7313   4.8165   4.6099
 44257  2.4984  2.4964  2.5003  2.5673  2.8209  ...   4.3742   4.6442   4.5288
 44258  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     4
 1          NaN      NaN      NaN      NaN      NaN      NaN     4
 2          NaN      NaN      NaN      NaN      NaN      NaN     4
 3          NaN      NaN      NaN      NaN      NaN      NaN     4
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     4
 ...        ...      ...      ...      ...      ...      ...   ...
 44254   0.0340   0.0327   0.0312   0.0286   0.0259      NaN     4
 44255   0.5164   0.4878   0.4940   0.4561   0.4082      NaN     4
 44256   4.4049   4.3163   4.3015   4.0535   3.6987      NaN     4
 44257   4.3518   4.3681   4.1890   3.7169   3.2102      NaN     4
 44258   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     4

 [44259 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                     May 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 45597                          XOEC     RETAILER       XO1P  0.0234  0.0220
 45598                          XOEC     RETAILER       XO1R  0.4088  0.3782
 45599                          XOEC     RETAILER       XO1U  4.0463  3.8062
 45600                          XOEC     RETAILER       XO1X  3.3442  2.9734
 45601                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 45597  0.0210  0.0204  0.0202  0.0213  0.0217  ...   0.0334   0.0346   0.0335
 45598  0.3570  0.3473  0.3518  0.3514  0.3411  ...   0.5743   0.6136   0.5808
 45599  3.6646  3.6028  3.5537  3.5293  3.5436  ...   5.4170   5.5544   5.3696
 45600  2.7283  2.6104  2.5197  2.5585  2.5608  ...   5.0330   5.2198   5.0123
 45601  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     5
 1          NaN      NaN      NaN      NaN      NaN      NaN     5
 2          NaN      NaN      NaN      NaN      NaN      NaN     5
 3          NaN      NaN      NaN      NaN      NaN      NaN     5
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     5
 ...        ...      ...      ...      ...      ...      ...   ...
 45597   0.0320   0.0306   0.0297   0.0260   0.0238      NaN     5
 45598   0.5528   0.5296   0.4987   0.4582   0.4093      NaN     5
 45599   5.1526   4.9434   4.7485   4.4932   4.0894      NaN     5
 45600   4.7195   4.4590   4.2510   3.8425   3.3732      NaN     5
 45601   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     5

 [45602 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                    June 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 44406                          XOEC     RETAILER       XO1P  0.0228  0.0214
 44407                          XOEC     RETAILER       XO1R  0.3663  0.3407
 44408                          XOEC     RETAILER       XO1U  3.8100  3.5850
 44409                          XOEC     RETAILER       XO1X  3.0206  2.7554
 44410                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 44406  0.0210  0.0205  0.0206  0.0223  0.0244  ...   0.0364   0.0357   0.0338
 44407  0.3272  0.3212  0.3319  0.3427  0.3660  ...   0.5770   0.5771   0.5438
 44408  3.4701  3.4321  3.4746  3.6023  3.8950  ...   5.4285   5.4781   5.2489
 44409  2.5833  2.4982  2.4959  2.7041  2.9112  ...   4.6090   4.8625   4.7560
 44410  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     6
 1          NaN      NaN      NaN      NaN      NaN      NaN     6
 2          NaN      NaN      NaN      NaN      NaN      NaN     6
 3          NaN      NaN      NaN      NaN      NaN      NaN     6
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     6
 ...        ...      ...      ...      ...      ...      ...   ...
 44406   0.0318   0.0309   0.0296   0.0275   0.0245      NaN     6
 44407   0.5154   0.4897   0.4719   0.4496   0.4038      NaN     6
 44408   5.0264   4.8871   4.7286   4.5148   4.1546      NaN     6
 44409   4.5412   4.3507   4.2397   3.9581   3.4131      NaN     6
 44410   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     6

 [44411 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                    July 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 46003                          XOEC     RETAILER       XO1P  0.0262  0.0246
 46004                          XOEC     RETAILER       XO1R  0.4565  0.4242
 46005                          XOEC     RETAILER       XO1U  5.0720  4.7492
 46006                          XOEC     RETAILER       XO1X  3.8540  3.4843
 46007                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 2         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 3         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 4      Hour 3  Hour 4  Hour 5  Hour 6  Hour 7  ...  Hour 17  Hour 18  Hour 19
 ...       ...     ...     ...     ...     ...  ...      ...      ...      ...
 46003  0.0236  0.0232  0.0227  0.0237  0.0252  ...   0.0412   0.0402   0.0382
 46004  0.4020  0.3914  0.3932  0.4110  0.4296  ...   0.7088   0.6943   0.6734
 46005  4.5324  4.4205  4.4156  4.5216  4.7475  ...   7.2199   7.2494   7.0447
 46006  3.2248  3.0954  3.0170  3.1012  3.2910  ...   5.6562   5.8488   5.8455
 46007  0.0000  0.0000  0.0000  0.0000  0.0000  ...   0.0000   0.0000   0.0000

         Hour20   Hour21   Hour22   Hour23   Hour24 daylight month
 0          NaN      NaN      NaN      NaN      NaN      NaN     7
 1          NaN      NaN      NaN      NaN      NaN      NaN     7
 2          NaN      NaN      NaN      NaN      NaN      NaN     7
 3          NaN      NaN      NaN      NaN      NaN      NaN     7
 4      Hour 20  Hour 21  Hour 22  Hour 23  Hour 24      NaN     7
 ...        ...      ...      ...      ...      ...      ...   ...
 46003   0.0371   0.0355   0.0332   0.0312   0.0282      NaN     7
 46004   0.6397   0.6043   0.5921   0.5588   0.4994      NaN     7
 46005   6.8022   6.5043   6.2485   5.9725   5.4614      NaN     7
 46006   5.6489   5.3337   5.1712   4.9002   4.4000      NaN     7
 46007   0.0000   0.0000   0.0000   0.0000   0.0000      NaN     7

 [46008 rows x 29 columns],
                              PoolID    AssetType    AssetID   Hour1   Hour2  \
 0             Metered Volumes (All)          NaN        NaN     NaN     NaN
 1      Report Date: March 23, 2021.          NaN        NaN     NaN     NaN
 2                  August 01, 2020.          NaN        NaN     NaN     NaN
 3               Pool Participant ID   Asset Type   Asset ID     NaN     NaN
 4                                 -            -          -  Hour 1  Hour 2
 ...                             ...          ...        ...     ...     ...
 46338                          XOEC     RETAILER       XO1P  0.0220  0.0209
 46339                          XOEC     RETAILER       XO1R  0.3402  0.3198
 46340                          XOEC     RETAILER       XO1U  3.6822  3.5406
 46341                          XOEC     RETAILER       XO1X  2.8222  2.5892
 46342                          XOEC     RETAILER       XO2E  0.0000  0.0000

         Hour3   Hour4   Hour5   Hour6   Hour7  ...   Hour17   Hour18   Hour19  \
 0         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN
 1         NaN     NaN     NaN     NaN     NaN  ...      NaN      NaN      NaN

In [4]:
df_all['month'].value_counts()

12    47741
10    47320
8     46343
7     46008
11    45992
1     45715
3     45656
5     45602
9     45554
6     44411
4     44259
2     42691
Name: month, dtype: int64

In [5]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547292 entries, 0 to 547291
Data columns (total 29 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   PoolID     547165 non-null  object
 1   AssetType  546775 non-null  object
 2   AssetID    546775 non-null  object
 3   Hour1      546410 non-null  object
 4   Hour2      546410 non-null  object
 5   Hour3      546410 non-null  object
 6   Hour4      546410 non-null  object
 7   Hour5      546410 non-null  object
 8   Hour6      546410 non-null  object
 9   Hour7      546410 non-null  object
 10  Hour8      546410 non-null  object
 11  Hour9      546410 non-null  object
 12  Hour10     546410 non-null  object
 13  Hour11     546410 non-null  object
 14  Hour12     546410 non-null  object
 15  Hour13     546410 non-null  object
 16  Hour14     546410 non-null  object
 17  Hour15     546410 non-null  object
 18  Hour16     546410 non-null  object
 19  Hour17     546410 non-null  object
 20  Hour18     546410 non-null  object
 21  Hour19     546410 non-null  object
 22  Hour20     546410 non-null  object
 23  Hour21     546410 non-null  object
 24  Hour22     546410 non-null  object
 25  Hour23     546410 non-null  object
 26  Hour24     544941 non-null  object
 27  daylight   1530 non-null    object
 28  month      547292 non-null  int64
dtypes: int64(1), object(28)
memory usage: 121.1+ MB

In [6]:
Target =['BR3','BR4','BR5','MKR1','PH1','RB5','RL1','SH1','SH2','VVW1','VVW2','EC04','CL01']

In [7]:
df = df_all[df_all['AssetID'].isin(Target)]
df.head()

,PoolID,AssetType,AssetID,Hour1,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,...,Hour17,Hour18,Hour19,Hour20,Hour21,Hour22,Hour23,Hour24,daylight,month
106,ALPL,GENCO,BR4,43.5444,43.5478,43.5888,43.5215,43.602,43.5388,43.6077,...,43.5274,43.5205,43.6336,43.5565,43.5123,43.5695,43.4497,43.5655,NaN,1
107,ALPL,GENCO,BR5,143.1607,142.8902,142.7054,142.8044,141.9054,142.1584,142.0645,...,141.2787,140.414,140.7074,140.775,140.3875,139.9745,139.9403,140.6637,NaN,1
163,ATRB,IPP,RB5,56.8638,57.5988,57.6198,57.8718,57.8928,58.065,57.8466,...,58.1826,58.0692,57.9852,57.4266,57.3258,57.3006,57.3342,57.729,NaN,1
164,ATRB,IPP,RL1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,1
191,BALP,GENCO,SH1,152.2087,151.4843,152.4443,151.0043,155.0887,154.6043,150.7643,...,160.6087,221.853,175.7376,183.6664,157.9687,157.9687,157.7243,157.7287,NaN,1

In [8]:
col = ['Hour1','Hour2','Hour3','Hour4','Hour5','Hour6','Hour7','Hour8','Hour9','Hour10',
        'Hour11','Hour12','Hour13','Hour14','Hour15','Hour16','Hour17','Hour18','Hour19','Hour20',
        'Hour21','Hour22','Hour23','Hour24','daylight']

In [9]:
df[col] = df[col].apply(pd.to_numeric, errors = "coerce",axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4392 entries, 106 to 546723
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PoolID     4392 non-null   object
 1   AssetType  4392 non-null   object
 2   AssetID    4392 non-null   object
 3   Hour1      4392 non-null   float64
 4   Hour2      4392 non-null   float64
 5   Hour3      4392 non-null   float64
 6   Hour4      4392 non-null   float64
 7   Hour5      4392 non-null   float64
 8   Hour6      4392 non-null   float64
 9   Hour7      4392 non-null   float64
 10  Hour8      4392 non-null   float64
 11  Hour9      4392 non-null   float64
 12  Hour10     4392 non-null   float64
 13  Hour11     4392 non-null   float64
 14  Hour12     4392 non-null   float64
 15  Hour13     4392 non-null   float64
 16  Hour14     4392 non-null   float64
 17  Hour15     4392 non-null   float64
 18  Hour16     4392 non-null   float64
 19  Hour17     4392 non-null   float64
 20  Hour18     4392 non-null   float64
 21  Hour19     4392 non-null   float64
 22  Hour20     4392 non-null   float64
 23  Hour21     4392 non-null   float64
 24  Hour22     4392 non-null   float64
 25  Hour23     4392 non-null   float64
 26  Hour24     4380 non-null   float64
 27  daylight   12 non-null     float64
 28  month      4392 non-null   int64
dtypes: float64(25), int64(1), object(3)
memory usage: 1.0+ MB

C:\Users\minxi\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [26]:
AESO = df.copy()
AESO['daylight'].fillna(0, inplace=True)
AESO['Hour24'].fillna(0, inplace=True)
AESO['Total'] = AESO[col].apply(sum,axis = 1)
AESO.head()

,PoolID,AssetType,AssetID,Hour1,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,...,Hour18,Hour19,Hour20,Hour21,Hour22,Hour23,Hour24,daylight,month,Total
106,ALPL,GENCO,BR4,43.5444,43.5478,43.5888,43.5215,43.6020,43.5388,43.6077,...,43.5205,43.6336,43.5565,43.5123,43.5695,43.4497,43.5655,0.0,1,1045.6253
107,ALPL,GENCO,BR5,143.1607,142.8902,142.7054,142.8044,141.9054,142.1584,142.0645,...,140.4140,140.7074,140.7750,140.3875,139.9745,139.9403,140.6637,0.0,1,3391.4937
163,ATRB,IPP,RB5,56.8638,57.5988,57.6198,57.8718,57.8928,58.0650,57.8466,...,58.0692,57.9852,57.4266,57.3258,57.3006,57.3342,57.7290,0.0,1,1389.1920
164,ATRB,IPP,RL1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0,1,0.0000
191,BALP,GENCO,SH1,152.2087,151.4843,152.4443,151.0043,155.0887,154.6043,150.7643,...,221.8530,175.7376,183.6664,157.9687,157.9687,157.7243,157.7287,0.0,1,3848.1601

In [27]:
AESO.isna().sum()

PoolID       0
AssetType    0
AssetID      0
Hour1        0
Hour2        0
Hour3        0
Hour4        0
Hour5        0
Hour6        0
Hour7        0
Hour8        0
Hour9        0
Hour10       0
Hour11       0
Hour12       0
Hour13       0
Hour14       0
Hour15       0
Hour16       0
Hour17       0
Hour18       0
Hour19       0
Hour20       0
Hour21       0
Hour22       0
Hour23       0
Hour24       0
daylight     0
month        0
Total        0
dtype: int64

In [18]:
PH_detail = AESO[AESO['AssetID'] == 'PH1']
PH_detail.head()

,PoolID,AssetType,AssetID,Hour1,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,...,Hour18,Hour19,Hour20,Hour21,Hour22,Hour23,Hour24,daylight,month,Total
932,PPHL,IPP,PH1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,38.0520,37.9792,37.3968,37.5396,37.6684,38.2368,38.3572,0.0,1,391.5212
2406,PPHL,IPP,PH1,38.2984,38.4188,38.6820,38.3516,38.4300,38.6036,38.4776,...,38.6400,38.5616,38.6036,38.4524,38.4552,38.2704,38.3012,0.0,1,924.7196
3880,PPHL,IPP,PH1,38.3432,38.4048,38.5952,38.6120,38.7604,38.7212,38.5616,...,38.4776,38.4076,38.4972,38.5448,38.5700,1.8984,0.0000,0.0,1,849.6096
5354,PPHL,IPP,PH1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,41.2328,40.8128,39.8384,39.8244,39.8048,31.6904,0.0000,0.0,1,577.3824
6828,PPHL,IPP,PH1,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,39.0852,38.9648,39.0096,38.2620,38.3600,38.6120,38.7632,0.0,1,311.8388

In [21]:
PH_detail['month'].value_counts()
PH_March = PH_detail[PH_detail['month'] == 3]

In [22]:
PH_March

,PoolID,AssetType,AssetID,Hour1,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,...,Hour18,Hour19,Hour20,Hour21,Hour22,Hour23,Hour24,daylight,month,Total
89327,PPHL,IPP,PH1,39.5948,39.8076,39.9756,40.1044,39.7012,39.9672,36.4560,...,25.7628,38.6848,38.6736,38.4804,38.4300,38.3740,38.5700,0.0,3,760.6032
90799,PPHL,IPP,PH1,38.3936,37.8336,37.9512,38.4300,38.7016,38.5420,38.7940,...,39.6620,39.7992,39.7600,39.6256,39.7684,39.7992,39.7936,0.0,3,945.4900
92270,PPHL,IPP,PH1,39.9616,37.9232,37.8672,37.9400,40.0092,40.2108,40.5916,...,40.1352,40.1800,39.4884,37.8112,37.7608,37.5592,37.6908,0.0,3,946.8284
93741,PPHL,IPP,PH1,37.5844,37.7272,37.7748,37.7888,37.8112,37.7524,37.9260,...,41.2104,41.1264,40.9220,40.9836,41.0396,41.0452,40.9444,0.0,3,950.6952
95212,PPHL,IPP,PH1,40.7708,41.0564,41.1544,41.0228,40.7176,41.2244,38.6988,...,35.8680,37.8420,37.8728,37.8756,37.8700,37.8616,37.8532,0.0,3,854.0056
96683,PPHL,IPP,PH1,39.0348,41.3280,41.9188,42.0868,42.1596,42.1456,42.1596,...,42.2856,42.1708,42.3248,42.3584,42.3668,42.3612,42.3500,0.0,3,1010.7552
98154,PPHL,IPP,PH1,42.3444,42.2968,42.3528,42.3024,42.3052,42.3024,42.2968,...,40.9584,41.0116,39.6620,31.1304,39.6480,41.1320,40.9724,0.0,3,944.8264
99625,PPHL,IPP,PH1,40.8184,40.8436,40.8408,40.8464,40.8548,36.9516,9.5536,...,10.6624,9.8924,9.6404,9.6348,9.4808,39.6060,NaN,0.0,3,NaN
101096,PPHL,IPP,PH1,29.9936,29.7976,29.8704,29.9880,29.9320,30.1056,30.3604,...,40.9528,41.0592,41.0004,40.8996,40.7260,40.6868,40.7232,0.0,3,902.8628
102567,PPHL,IPP,PH1,40.6728,40.7008,40.8100,40.8436,40.7400,40.7568,40.7316,...,37.8924,37.9792,38.1052,37.8140,38.5980,38.5028,38.4496,0.0,3,902.1796
104038,PPHL,IPP,PH1,38.4804,38.5196,39.5388,38.5056,39.9896,39.9392,38.9816,...,38.3320,38.4916,38.4328,38.0996,38.0380,37.8784,38.0632,0.0,3,928.0656
105507,PPHL,IPP,PH1,37.9904,38.4888,38.2508,38.8696,39.3288,39.3232,39.8832,...,42.3892,41.2272,42.1344,42.1232,42.0616,42.0672,41.8796,0.0,3,943.9416
106978,PPHL,IPP,PH1,42.1204,41.9916,42.1764,42.0980,42.1848,42.1820,42.2324,...,42.8876,42.6048,41.8656,41.8572,41.8572,41.8656,41.8628,0.0,3,1017.6796
108450,PPHL,IPP,PH1,41.8684,41.8852,41.8684,41.8628,41.8768,41.8768,40.7568,...,28.4984,28.3136,27.0200,27.0032,27.0928,27.1320,41.0676,0.0,3,778.8732
109923,PPHL,IPP,PH1,41.1180,41.0816,41.2328,41.3364,41.4736,41.4232,40.4600,...,27.1572,27.3140,27.2104,26.8688,26.8940,26.8996,40.6448,0.0,3,731.6932
111396,PPHL,IPP,PH1,41.0032,41.2944,41.2580,41.1432,41.3560,41.2132,38.5028,...,24.5504,24.7044,24.5084,24.3600,24.4300,24.3628,38.9452,0.0,3,716.1364
112870,PPHL,IPP,PH1,40.4292,39.9868,39.7824,40.4404,40.8492,40.7540,39.1832,...,28.7056,28.9940,28.7364,28.5376,28.5264,28.5712,39.9420,0.0,3,778.1676
114344,PPHL,IPP,PH1,40.5804,40.7092,40.6504,40.7008,40.7680,40.7316,40.6224,...,41.8040,41.7956,41.8376,41.4624,40.8100,40.8240,40.5916,0.0,3,988.9208
115818,PPHL,IPP,PH1,41.0396,42.0504,42.0000,42.1176,42.0924,41.8068,42.1960,...,41.9524,41.9748,42.0784,42.2296,42.0308,41.4120,41.6052,0.0,3,1005.7292
117292,PPHL,IPP,PH1,41.8152,42.0840,42.2436,42.1120,42.0812,42.0644,41.8908,...,40.8128,40.7820,40.7736,40.7708,40.7484,40.7428,40.7764,0.0,3,987.7392
118766,PPHL,IPP,PH1,40.7316,40.6112,40.6980,40.2724,39.7908,39.7684,39.7880,...,39.8300,39.4520,39.0936,39.7964,36.7948,41.0396,38.6064,0.0,3,954.2904
120240,PPHL,IPP,PH1,38.6904,38.1528,39.1944,39.8580,40.0708,40.0204,40.0036,...,40.5356,40.5552,40.5748,40.6700,38.4944,38.0772,38.0744,0.0,3,951.6640
121714,PPHL,IPP,PH1,37.9708,38.0016,37.8420,37.8756,37.8364,37.9876,38.0520,...,38.3180,38.4440,38.4860,38.5140,38.9368,39.4548,39.9028,0.0,3,921.2252
123188,PPHL,IPP,PH1,40.3788,40.7120,40.8744,41.2748,41.4456,41.4288,37.1924,...,8.8928,9.1840,8.9096,8.7584,8.5960,8.8424,38.8920,0.0,3,463.1312
124662,PPHL,IPP,PH1,40.2024,40.1744,40.4908,40.4852,40.4572,40.3704,40.4012,...,39.9308,40.1352,40.2024,40.2304,40.3592,40.5160,40.5160,0.0,3,973.1680
126136,PPHL,IPP,PH1,40.2976,40.0624,39.8636,39.7740,39.7208,39.6032,39.7460,...,38.0968,37.7748,37.8868,37.9540,37.9764,38.3376,38.8136,0.0,3,936.7624
127610,PPHL,IPP,PH1,37.7244,37.8140,37.8476,37.7580,37.7188,37.7944,37.8532,...,38.0492,37.9092,37.9596,38.7716,39.4100,40.2136,41.0984,0.0,3,923.9664
129084,PPHL,IPP,PH1,41.5436,41.7172,41.8236,41.8460,2.0384,0.0000,0.0000,...,41.2860,41.4288,41.2832,41.0340,40.9612,40.9304,40.9528,0.0,3,860.3392
130558,PPHL,IPP,PH1,40.7932,41.0984,40.9416,41.1236,41.0648,41.0172,40.9976,...,40.8436,40.8436,41.0508,41.0480,40.8576,40.7988,41.0564,0.0,3,981.6632
132032,PPHL,IPP,PH1,40.9248,40.8492,41.1068,41.3532,41.1236,40.9192,38.4468,...,27.5800,27.7284,40.3676,37.2484,24.6764,39.6312,2.9652,0.0,3,756.3136
133506,PPHL,IPP,PH1,4.3792,15.5120,40.6588,40.8156,40.7176,40.8520,37.2624,...,35.7308,10.7576,39.6732,40.3956,40.6000,40.6532,40.7652,0.0,3,795.0348

In [24]:
PH_March['Hour24'] = PH_March['Hour24'].fillna(0)

C:\Users\minxi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
PH_March.isna().sum()

PoolID       0
AssetType    0
AssetID      0
Hour1        0
Hour2        0
Hour3        0
Hour4        0
Hour5        0
Hour6        0
Hour7        0
Hour8        0
Hour9        0
Hour10       0
Hour11       0
Hour12       0
Hour13       0
Hour14       0
Hour15       0
Hour16       0
Hour17       0
Hour18       0
Hour19       0
Hour20       0
Hour21       0
Hour22       0
Hour23       0
Hour24       0
daylight     0
month        0
Total        1
dtype: int64

In [28]:
summary = AESO.groupby(['AssetID','month'])[['Total']].sum()
summary

                    Total
AssetID month
BR4     1      33946.9445
        2      22094.2019
        3      20594.1054
        4      17817.5102
        5          0.0000
...                   ...
VVW2    8       4034.0440
        9       4096.8480
        10     14466.5080
        11      6613.6840
        12      5586.8120

[144 rows x 1 columns]

In [29]:
summary.to_csv('Summary_2020.csv')

In [30]:
summary.reset_index(inplace = True)

In [31]:
summary.head()

  AssetID  month       Total
0     BR4      1  33946.9445
1     BR4      2  22094.2019
2     BR4      3  20594.1054
3     BR4      4  17817.5102
4     BR4      5      0.0000

In [32]:
summary['AssetID'].value_counts()

VVW1    12
MKR1    12
PH1     12
BR4     12
VVW2    12
SH1     12
RL1     12
SH2     12
BR5     12
RB5     12
CL01    12
EC04    12
Name: AssetID, dtype: int64

In [33]:
PH = summary[summary['AssetID']=='PH1']

In [34]:
PH

   AssetID  month       Total
60     PH1      1  25534.4012
61     PH1      2  24742.0208
62     PH1      3  27323.6432
63     PH1      4  15347.7212
64     PH1      5   2957.8360
65     PH1      6   7995.7276
66     PH1      7   8984.1472
67     PH1      8   6361.0484
68     PH1      9  10475.1556
69     PH1     10  20645.4528
70     PH1     11   3987.2700
71     PH1     12  16966.5048